<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role</title>
</head>
<body>
    <form action="/parkings/<%= id %>" method="post">
        <fieldset>
            <legend>Role:</legend>

            <label>
                <input type="radio" name="isOwner" value="false" checked>
                I want to book parking (User)
            </label><br>

            <label>
                <input type="radio" name="isOwner" value="true">
                I own parking space (Owner)
            </label>
        </fieldset>
        <button> Submit </button>
    </form>
</body>
</html>