.chats-page {
  display: flex;
  height: calc(100vh - 60px); /* Adjust based on your navbar height */
}

.chat-open {
  display: grid;
  grid-template-columns: 300px 1fr;
}

@media (max-width: 768px) {
  .chats-page {
    flex-direction: column;
  }
  
  .chat-open {
    grid-template-columns: 1fr;
  }
  
  .chat-open .chat-list {
    display: none;
  }
}