<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    View Parkings: <a href="/parkings">Click Here</a>
    View Users: <a href="/admin/users">Click Here</a>

    <a href="/admin/logout">ADMIN-LOGOUT</a>
</body>
</html>