<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <form action="/admin/dashboard" method="POST">
        <label for="key">Master Key: </label>
        <input type="text" id="key" name="key" placeholder="Enter master key">
        <button> Submit </button>
    </form>
</body>
</html>