<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Parking Users</title>
</head>
<body>
    <% for (const parkinguser of parkingusers) { %>
        <div>
            Name: <%= parkinguser.user.name %>
        </div>
        <div>
            Email: <%= parkinguser.user.email %>
        </div>
        <div>
            Phone: <%= parkinguser.user.phone %>
        </div>
        <form action="/admin/parkingusers/<%= parkinguser._id %>?_method=DELETE" method="POST">
            <button>Remove User</button>
        </form><br>
    <% } %>
</body>
</html>